@font-face {
    font-family: 'UEFA Euro 2024 custom';
    src: local('UEFA Euro 2024 custom Book'), local('UEFA-Euro-2024-custom-Book'),
        url('UEFAEuro-Book.woff2') format('woff2'),
        url('UEFAEuro-Book.woff') format('woff'),
        url('UEFAEuro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }