.banners {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os banners */
    max-width: 850px; /* Define a largura máxima dos banners */
    margin: 15px auto 15px; /* Centraliza os banners na página */
}

.banner {
    position: relative;
    width: 100%; /* Ocupa toda a largura disponível */
    height: 106px; /* Altura fixa dos banners */
    max-width: 100%;
    overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
    /* border: 1px solid #ccc;  Adicione uma borda para visualização */
    border-radius: 5px; /* Borda arredondada */
    display: flex; /* Torna o banner um flex container */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Alinha os itens horizontalmente */
    position: relative; /* Para posicionamento relativo */
    transition: transform 0.3s; /* Adiciona uma transição suave */
    cursor: pointer;
}

.banner:nth-child(1) {
    animation-delay: 0.2s;
}

.banner:nth-child(3) {
    animation-delay: 0.4s;
}

.banner:nth-child(4) {
    animation-delay: 0.6s;
}

.banner:nth-child(5) {
    animation-delay: 0.8s;
}

.banner:nth-child(6) {
    animation-delay: 1s;
}

.banner:nth-child(7) {
    animation-delay: 1.2s;
}

.banner img {
    position: absolute; /* Para sobrepor a logo */
    top: 50%; /* Alinha a logo verticalmente */
    left: 50%; /* Alinha a logo horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a logo */
}

.banner:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
    opacity: 0.8; /* Opacidade da logo */
}


.headerRanking {
    position: relative; /* Necessário para posicionar os elementos filhos */
    height: 80px; /* Altura desejada para o modal header */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do conteúdo */
    color: white; /* Cor do texto */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Garante que a imagem de fundo fique atrás do conteúdo */
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 1; /* Garante que a logo fique acima do conteúdo */
}

.btn-close {
    z-index: 900;
}
