.carousel-item img {
    width: 100%;
    max-height: 828px; /* Limita a altura máxima */
    height: auto;
    object-fit: contain; /* Ajusta a imagem dentro do contêiner */
}

.carousel-caption {
    display: none;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 60vh; /* Altura máxima de 60% da altura da tela em telas menores */
    }
}
