.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.carousel-item:hover .carousel-caption {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
